*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A2D4A;
}

.container{
    /* border: 1px solid red; */
    width: 40rem;
    height: 35rem;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 
    #2FAFFF
     5px 5px, #4CE3FF 10px 10px, #9AFFF9 15px 15px, #F0F0EE 20px 20px;
    margin-top: 15rem;
    background: radial-gradient(circle,  #eEEED2,  #60DAF0);
   

}

.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.card-icons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 2rem;
}

.card-icons img{
    width: 2.2rem;
    height: 2.2rem;
    margin-bottom: 0.8rem;
}

.card-info p{
    margin-bottom: 1.2rem;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pic{
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
    margin-right: 1rem;
    
    
}

.footer-info p{
    margin-bottom: 1rem;
    font-size: 20px;
}

