*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid red;
    width: 40%;
    height: 20rem;
    grid-template-columns: ;
    text-align: center;
    display: flex;
    justify-content: center;
}

.card-left{
    display: flex;
    flex-direction: column;
}

img{
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
}