.button{
  background-color: #DEA090;
  width: 10rem;
  height: 4rem;
  font-size: 20px;
  font-weight: bold;
  margin-top: 3rem;
  border-radius: 12px;
  box-shadow: 4px 4px 6px #EFECCC;

}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}